@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  html,
  body {
    font-family: var(--font-roboto);
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    font-weight: 700;
  }

  button,
  input,
  textarea,
  select {
    font-family: inherit;
  }
}
